.slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 5px;
}

.content {
    position: relative;
  text-align: center;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 2rem;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 2rem;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.heading {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(89,116,163);
}

.heading:hover {
    color:brown;    
}

.bar {
    position: absolute;
    
}