.slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    /* width: 100%;
    height: 100%; */
    border-radius: 5px;
}

.content {
    position: relative;
  text-align: center;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 2rem;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 2rem;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.p1 {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p2 {
    position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
    position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: rgb(8,115,250);
}